.kaufman {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    background-color: #1F1F1F;
    padding-top: 180px;
    padding-bottom: 90px;
  }